.banner {
    height: 134px;
    background-color: $custom-red;
    color: $white;
    text-align: center;
    top: 40px;

    @include desktop {
        height: 200px;
    }

    &.left {
        .banner {
            &-content {
                @include desktop {
                    max-width: unset!important;
                    padding: 0 50px;
                    text-align: left;
                }
            }
        }
    }

    &.right {
        .banner {
            &-content {
                @include desktop {
                    max-width: unset!important;
                    padding: 0 50px;
                    text-align: right;
                }
            }
        }
    }

    &-content {
        max-width: 400px;
        margin: auto;
        position: relative;

        @include desktop {
            max-width: 750px;
        }
    }

    &-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 134px;

        @include desktop {
            line-height: 200px;
            font-size: 46px;
        }
    }

    &.about {
        .banner-additionals {
            content: '';
            position: absolute;
            right: -4px;
            top: 10px;
            background: url("icon/questions.png") no-repeat;
            background-size: 148px 92px;
            height: 92px;
            width: 148px;

            @include medium-mobile {
                right: 3px;
                top: 25px;
                background-size: 90px 64px;
                height: 64px;
                width: 90px;
            }

            @include desktop {
                top: -17px;
                right: -30px;
                background-size: 270px 100%;
                width: 270px;
                height: 100%;
            }
        }
    }
}
